#aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

#contact > .title {
    text-align: center;
}