/* menu content */
#menuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* title */
.title {
    color: maroon;
    text-decoration: underline;
}

/* items */
.item {
    background-color: palegoldenrod;
    border: 3px solid peru;
    border-radius: 30px;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 400px;
}

/* sizes */
#sizes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    width: 100%;
    justify-items: center;
}

/* crusts, sauces, cheeses */
#crusts, #sauces {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 35px;
    justify-items: center;
}

/* cheese stuff */

#cheeses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.item.cheese {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 20px 1fr;
    justify-items: center;
}

.item.cheese > h2 {
    grid-column: 1 / span 2
}

.title.Type {
    grid-row: 2 / 3;
}

.title.Amount {
    grid-row: 2 / 3;
}

#types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    place-self: stretch;
}

#amounts {
    display: flex;
    justify-content: space-between;
    align-self: start;
    gap: 15px;
}

/* toppings */
#toppings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    justify-items: center;
}