/* resets */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    max-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

p, h1, h2, h3, h4, h5 {
    overflow-wrap: break-word;
    font-family: Lucida Handwriting, cursive;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5 {
    text-wrap: balance;
}

/* body */
body {
    background-color: firebrick;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* header */
header {
    background-color: olivedrab;
    border-radius: 50px;
    border: 5px solid peru;
    width: 80%;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

button {
    border-color: olive;
    border: 2px solid maroon;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    background-color: palegoldenrod;
    font-family: Lucida Handwriting, cursive;
    font-weight: 600;
    color: maroon;
}

/* content */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* brand & description */

#brandDiv {
    text-align: center;
    width: max-content;
    padding: 30px;
    border: 10px solid peru;
    border-radius: 50%;
    background-color: olivedrab;
}

#brand {
    font-size: 48px;
}

#authentic {
    background-color: peru;
    border-radius: 10px;
    width: max-content;
    padding: 0 10px 0 10px;
}

img {
    width: 500px;
    border: 5px solid peru;
    border-radius: 10px;
}

/* location */
#location {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: palegoldenrod;
    border: 5px solid peru;
    padding: 5px;
    border-radius: 5px;
    color: maroon;
    line-height: 1.5em;
}
